doctype html
html
    head
        title Flexbox Grid
        meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(name='theme-color', content='#ffaa00')
        link(rel='stylesheet', type='text/css', href='dist/stylesheet.min.css')
    body
        include ./includes/header
        include ./includes/invidual-sizing
        include ./includes/auto-resize
        include ./includes/offset
        include ./includes/combinding
        include ./includes/gridception
        include ./includes/full-width
        include ./includes/responsive-content
        include ./includes/flexible-columns
        include ./includes/grid-align-top
        include ./includes/grid-align-center
        include ./includes/grid-align-bottom
        include ./includes/individual-alignment
        include ./includes/set-col-first
        include ./includes/set-col-last
        include ./includes/reverse
        include ./includes/no-gutter
        include ./includes/text-alignment
        include ./includes/footer