// Helper for the grid align top
@mixin make-row-helpers($breakpoint) {
  .Row--#{$breakpoint}-top {
    align-items: flex-start;
  }
  .Row--#{$breakpoint}-center {
    align-items: center;
  }
  .Row--#{$breakpoint}-bottom {
    align-items: flex-end;
  }
}

// Helper for the sorting the first item
@mixin make-col-helpers($breakpoint) {
  .Col--#{$breakpoint}-align-top {
    align-self: flex-start;
  }
  .Col--#{$breakpoint}-align-center {
    align-self: center;
  }
  .Col--#{$breakpoint}-align-bottom {
    align-self: flex-end;
  }

  .Col--#{$breakpoint}-first {
    order: -1;
  }
  .Col--#{$breakpoint}-last {
    order: 1;
  }
  .Col--#{$breakpoint}-reset {
    order: 0;
  }
  .Row--#{$breakpoint}-reverse {
    flex-direction: row-reverse;
  }
  .Col--#{$breakpoint}-flex {
    display: flex;
  }
}

@mixin make-text-helpers($breakpoint) {
  .Text--#{$breakpoint}-right {
    text-align: right;
  }
  .Text--#{$breakpoint}-left {
    text-align: left;
  }
  .Text--#{$breakpoint}-center {
    text-align: center;
  }
}

@mixin make-helpers($breakpoint) {
  @include make-row-helpers($breakpoint);
  @include make-col-helpers($breakpoint);
  @include make-text-helpers($breakpoint);
}