section.section.section--light
    .grid.grid--container
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        Auto sizing
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        According how many items there are displayed,
                        flexbox will automatically compute the desired width
                .section__body.section--light__body
                    .grid__row
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                    .grid__row
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                    .grid__row
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                    .grid__row
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                    .grid__row
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                    .grid__row
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                    .grid__row
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                        .grid__col.grid__col--sm
                            .block.block--light
                                .block__content
                    .grid__row
                        .grid__col
                            pre.code.code--light.
                                &lt;div class=&quot;grid grid--container&quot;&gt;
                                    &lt;div class=&quot;grid__row&quot;&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;