section.section.section--light
    .grid.grid--fixed
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        Auto sizing
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        According how many items there are displayed,
                        flexbox will automatically compute the desired width
                .section__body.section--light__body
                    .grid.grid--fixed
                        .grid__row
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                        .grid__row
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                        .grid__row
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                        .grid__row
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                        .grid__row
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                        .grid__row
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                        .grid__row
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content
                            .grid__col.grid__col--sm
                                .block.block--light
                                    .block__content