section.Section.Section--light
    .Grid.Grid--container
        .Row
            .Col.Col-md-12
                .Section__header.Section--light__header
                    h2.Section__title.Section--light__title.
                        Combining
                    span.Section__underline.Section--light__underline
                    small.Section__subtitle.Section--light__subtitle.
                        It is possible to combine. Flexbox will automatically fill up the space
                .Section__body
                    .Row
                        .Col.Col--sm-2.Col--sm-flex
                            .Block.Block--light
                                .Block--light__content
                                    | Col--sm-2
                        .Col.Col--sm.Col--sm-flex
                            .Block.Block--light
                                .Block--light__content
                                    | Col--sm
                        .Col.Col--sm-3.Col--sm-offset-1.Col--sm-flex
                            .Block.Block--light
                                .Block--light__content
                                    | Col--sm-3
                                    br
                                    | Col--sm-offset-1
                        .Col.Col--sm.Col--sm-offset-1.Col--sm-flex
                            .Block.Block--light
                                .Block--light__content
                                    | Col--sm
                                    br
                                    | Col--sm-offset-1
                    .Row
                        .Col
                            pre.Code.Code--light.
                                &lt;div class=&quot;Grid Grid--container&quot;&gt;
                                    &lt;div class=&quot;Row&quot;&gt;
                                        &lt;div class=&quot;Col Col--sm-2&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;Col Col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;Col Col--sm-3 Col--sm-offset-1&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;Col Col--sm Col--sm-offset-1&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;