section.section.section--light
    .grid.grid--container
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        Flexible columns
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        It is possible to make the columns flexible
                .section__body.section--light__body
                    .grid__row
                        .grid__col.grid__col--sm-4.grid__col--sm-flex
                            .block.block--light
                                .block__content.block--light__content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ea eligendi illo impedit placeat provident quod ut.
                                        Atque distinctio illo quisquam.
                                        Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                        quibusdam reiciendis veritatis.
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                        .grid__col.grid__col--sm-3.grid__col--sm-flex
                            .block.block--light
                                .block__content.block--light__content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ea eligendi illo impedit placeat provident quod ut.
                                        Atque distinctio illo quisquam.
                                        Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                        quibusdam reiciendis veritatis.
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                        .grid__col.grid__col--sm-5.grid__col--sm-flex
                            .block.block--light
                                .block__content.block--light__content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ea eligendi illo impedit placeat provident quod ut.
                                        Atque distinctio illo quisquam.
                                        Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                        quibusdam reiciendis veritatis.
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                    .grid__row
                        .grid__col
                            pre.code.code--light.
                                &lt;div class=&quot;grid grid--container&quot;&gt;
                                    &lt;div class=&quot;grid__row&quot;&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm grid__col--sm-flex&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm grid__col--sm-flex&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm grid__col--sm-flex&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;