footer.Footer.Footer--light
    .Grid.Grid--container
        .Footer__body.Footer--light__body
            a(href="http://vivid-websolutions.nl", target="_blank").Link.Link--light.
                Vivid Websolutions
