footer.footer.footer--dark
    .grid.grid--container
        .footer__body.footer--dark__body
            a(href="http://vivid-websolutions.nl", target="_blank").link.link--dark.
                Vivid Websolutions
