section.section.section--light
    .grid
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        Full width
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        It is possible to make the grid full width
                .section__body.section--light__body
                    .grid__row
                        .grid__col.grid__col--sm-2
                            .block.block--light
                                .block__content.block--light__content
                        .grid__col.grid__col--sm-2
                            .block.block--light
                                .block__content.block--light__content
                        .grid__col.grid__col--sm-2
                            .block.block--light
                                .block__content.block--light__content
                        .grid__col.grid__col--sm-2
                            .block.block--light
                                .block__content.block--light__content
                        .grid__col.grid__col--sm-2
                            .block.block--light
                                .block__content.block--light__content
                        .grid__col.grid__col--sm-2.grid__col--sm-first
                            .block.block--light
                                .block__content.block--light__content
                    .grid__row
                        .grid__col
                            pre.code.code--light.
                                &lt;div class=&quot;grid&quot;&gt;
                                    &lt;div class=&quot;grid__row&quot;&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;