section.section.section--light
    .grid.grid--fixed
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        Grid in a grid
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        Grid components are infinitely nestable inside of other grid components
                .section__body
                    .grid.grid--fixed
                        .grid__row
                            .grid__col.grid__col--sm-10
                                .block.block--light
                                    .block__content.block--light__content
                                        .grid
                                            .grid__row
                                                .grid__col.grid__col--sm-2
                                                    .block.block--light
                                                        .block__content.block--light__content.
                                                .grid__col.grid__col--sm-10
                                                    .block.block--light
                                                        .block__content.block--light__content
                                                            .grid
                                                                .grid__row
                                                                    .grid__col.grid__col--sm-2
                                                                        .block.block--light
                                                                            .block__content.block--light__content
                                                                    .grid__col.grid__col--sm-10
                                                                        .block.block--light
                                                                            .block__content.block--light__content
                            .grid__col.grid__col--sm-2
                                .block.block--light
                                    .block__content.block--light__content