section.Section.Section--dark
    .Grid.Grid--container
        .Row
            .Col.Col-md-12
                .Section__header.Section--dark__header
                    h2.Section__title.Section--dark__title.
                        Grid in a grid
                    span.Section__underline.Section--dark__underline
                    small.Section__subtitle.Section--dark__subtitle.
                        Grid components are infinitely nestable inside of other grid components
                .Section__body
                    .Row
                        .Col.Col--sm-2
                            .Block.Block--dark
                                .Block__content.Block--dark__content
                        .Col.Col--sm-10
                            .Block.Block--dark
                                .Block__content.Block--dark__content
                                    .Row
                                        .Col.Col--sm-2
                                            .Block.Block--dark
                                                .Block__content.Block--dark__content.
                                        .Col.Col--sm-10
                                            .Block.Block--dark
                                                .Block__content.Block--dark__content
                                                    .Row
                                                        .Col.Col--sm-2
                                                            .Block.Block--dark
                                                                .Block__content.Block--dark__content
                                                        .Col.Col--sm-10
                                                            .Block.Block--dark
                                                                .Block__content.Block--dark__content
                                                                    .Row
                                                                        .Col.Col--sm-2
                                                                            .Block.Block--dark
                                                                                .Block__content.Block--dark__content
                                                                        .Col.Col--sm-10
                                                                            .Block.Block--dark
                                                                                .Block__content.Block--dark__content
                    .Row
                        .Col
                            pre.Code.Code--dark.
                                &lt;div class=&quot;Grid Grid--container&quot;&gt;
                                    &lt;div class=&quot;Row&quot;&gt;
                                        &lt;div class=&quot;Col Col--sm&quot;&gt;
                                            &lt;div class=&quot;Col Col--sm&quot;&gt;
                                                &lt;div class=&quot;Col Col--sm&quot;&gt;
                                                    ...
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;
