section.section.section--dark
    .grid.grid--container
        .grid__row
            .grid__col.grid__col--md-12
                .section__header.section--dark__header
                    h2.section__title.section--dark__title.
                        Top alignment
                    span.section__underline.section--dark__underline
                    small.section__subtitle.section--dark__subtitle.
                        It is possible to align the columns at the top
                .section__body.section--dark__body
                    .grid__row.grid__row--sm-top
                        .grid__col.grid__col--sm-4
                            .block.block--dark
                                .block__content.block--dark__content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ea eligendi illo impedit placeat provident quod ut.
                                        Atque distinctio illo quisquam.
                                        Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                        quibusdam reiciendis veritatis.
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                        .grid__col.grid__col--sm-3
                            .block.block--dark
                                .block__content.block--dark__content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ea eligendi illo impedit placeat provident quod ut.
                                        Atque distinctio illo quisquam.
                                        Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                        quibusdam reiciendis veritatis.
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                        .grid__col.grid__col--sm-5
                            .block.block--dark
                                .block__content.block--dark__content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ea eligendi illo impedit placeat provident quod ut.
                                        Atque distinctio illo quisquam.
                                        Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                        quibusdam reiciendis veritatis.
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                    .grid__row
                        .grid__col
                            pre.code.code--dark.
                                &lt;div class=&quot;grid grid--container&quot;&gt;
                                    &lt;div class=&quot;grid__row grid__row--sm-top&quot;&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;