.Jumbotron.Jumbotron--light
    .Grid.Grid--container
            .Jumbotron__header.Jumbotron--light__header
                .Row
                    .Col.Col-md-12
                        h1.Jumbotron__title.Jumbotron--light__title.
                            Flexbox Grid
                        span.Jumbotron__underline.Jumbotron--light__underline
                        small.Jumbotron__subtitle.Jumbotron--light__subtitle.
                            A flex-based CSS grid system according to the BEM standard
                .Row
                    .Col.Col--md-4.Col--md-offset-2
                        br
                        a.Button.Button--primary.Button--Block(href="https://raw.githubusercontent.com/vivid-web/flexbox-grid-stylus/master/dist/flexbox-grid.css", target="_blank").
                            Download Full
                    .Col.Col--md-4
                        br
                        a.Button.Button--primary.Button--Block(href="https://raw.githubusercontent.com/vivid-web/flexbox-grid-stylus/master/dist/flexbox-grid.min.css", target="_blank").
                            Download Minified
            .Jumbotron__body.Jumbotron--light__body
                    .Row
                        .Col.Col--md.Col--sm-flex
                            .Card.Card--light
                                .Card--light__header.Card__header
                                    h3.Card__title.Card--light__title.
                                        Using SASS
                                .Card__body.Card--light__body
                                    ul.Card__list.Card--light__list
                                        li.Card__list-item.Card--light__list-item
                                            h4.Card__list-item-title.Card--light__list-item-title.
                                                With Bower
                                            .Card__list-item-content.Card--light__list-item-content
                                                pre.Code.Code--light.
                                                    bower install flexbox-grid-sass
                                        li.Card__list-item.Card--light__list-item
                                            h4.Card__list-item-title.Card--light__list-item-title.
                                                With NPM
                                            .Card__list-item-content.Card--light__list-item-content
                                                pre.Code.Code--light.
                                                    npm install flexbox-grid-sass
                                        li.Card__list-item.Card--light__list-item
                                            .Card__list-item-content.Card--light__list-item-content
                                                a.Button.Button--primary.Button--Block(href="http://github.com/vivid-web/flexbox-grid-sass", target="_blank").
                                                    Github

                        .Col.Col--md.Col--sm-flex
                            .Card.Card--light
                                .Card--light__header.Card__header
                                    h3.Card__title.Card--light__title.
                                        Using LESS
                                .Card__body.Card--light__body
                                    ul.Card__list.Card--light__list
                                        li.Card__list-item.Card--light__list-item
                                            h4.Card__list-item-title.Card--light__list-item-title.
                                                With Bower
                                            .Card__list-item-content.Card--light__list-item-content
                                                pre.Code.Code--light.
                                                    bower install flexbox-grid-less
                                        li.Card__list-item.Card--light__list-item
                                            h4.Card__list-item-title.Card--light__list-item-title.
                                                With NPM
                                            .Card__list-item-content.Card--light__list-item-content
                                                pre.Code.Code--light.
                                                    npm install flexbox-grid-less
                                        li.Card__list-item.Card--light__list-item
                                            .Card__list-item-content.Card--light__list-item-content
                                                a.Button.Button--primary.Button--Block(href="http://github.com/vivid-web/flexbox-grid-less", target="_blank").
                                                    Github
                        .Col.Col--md.Col--sm-flex
                            .Card.Card--light
                                .Card--light__header.Card__header
                                    h3.Card__title.Card--light__title.
                                        Using Stylus
                                .Card__body.Card--light__body
                                    ul.Card__list.Card--light__list
                                        li.Card__list-item.Card--light__list-item
                                            h4.Card__list-item-title.Card--light__list-item-title.
                                                With Bower
                                            .Card__list-item-content.Card--light__list-item-content
                                                pre.Code.Code--light.
                                                    bower install flexbox-grid-stylus
                                        li.Card__list-item.Card--light__list-item
                                            h4.Card__list-item-title.Card--light__list-item-title.
                                                With NPM
                                            .Card__list-item-content.Card--light__list-item-content
                                                pre.Code.Code--light.
                                                    npm install flexbox-grid-stylus
                                        li.Card__list-item.Card--light__list-item
                                            .Card__list-item-content.Card--light__list-item-content
                                                a.Button.Button--primary.Button--Block(href="http://github.com/vivid-web/flexbox-grid-stylus", target="_blank").
                                                    Github