.jumbotron.jumbotron--light
    .grid.grid--container
            .jumbotron__header.jumbotron--light__header
                .row
                    .col.col-md-12
                        h1.jumbotron__title.jumbotron--light__title.
                            Flexbox Grid
                        span.jumbotron__underline.jumbotron--light__underline
                        small.jumbotron__subtitle.jumbotron--light__subtitle.
                            A flex-based CSS grid system according to the BEM standard
                .row
                    .col.col--md-4.col--md-offset-2
                        br
                        a.button.button--primary.button--block(href="https://raw.githubusercontent.com/vivid-web/flexbox-grid-stylus/master/dist/flexbox-grid.css", target="_blank").
                            Download Full
                    .col.col--md-4
                        br
                        a.button.button--primary.button--block(href="https://raw.githubusercontent.com/vivid-web/flexbox-grid-stylus/master/dist/flexbox-grid.min.css", target="_blank").
                            Download Minified
            .jumbotron__body.jumbotron--light__body
                    .row
                        .col.col--md.col--sm-flex
                            .card.card--light
                                .card--light__header.card__header
                                    h3.card__title.card--light__title.
                                        Using SASS
                                .card__body.card--light__body
                                    ul.card__list.card--light__list
                                        li.card__list-item.card--light__list-item
                                            h4.card__list-item-title.card--light__list-item-title.
                                                With Bower
                                            .card__list-item-content.card--light__list-item-content
                                                pre.code.code--light.
                                                    bower install flexbox-grid-sass
                                        li.card__list-item.card--light__list-item
                                            h4.card__list-item-title.card--light__list-item-title.
                                                With NPM
                                            .card__list-item-content.card--light__list-item-content
                                                pre.code.code--light.
                                                    npm install flexbox-grid-sass
                                        li.card__list-item.card--light__list-item
                                            .card__list-item-content.card--light__list-item-content
                                                a.button.button--primary.button--block(href="http://github.com/vivid-web/flexbox-grid-sass", target="_blank").
                                                    Github

                        .col.col--md.col--sm-flex
                            .card.card--light
                                .card--light__header.card__header
                                    h3.card__title.card--light__title.
                                        Using LESS
                                .card__body.card--light__body
                                    ul.card__list.card--light__list
                                        li.card__list-item.card--light__list-item
                                            h4.card__list-item-title.card--light__list-item-title.
                                                With Bower
                                            .card__list-item-content.card--light__list-item-content
                                                pre.code.code--light.
                                                    bower install flexbox-grid-less
                                        li.card__list-item.card--light__list-item
                                            h4.card__list-item-title.card--light__list-item-title.
                                                With NPM
                                            .card__list-item-content.card--light__list-item-content
                                                pre.code.code--light.
                                                    npm install flexbox-grid-less
                                        li.card__list-item.card--light__list-item
                                            .card__list-item-content.card--light__list-item-content
                                                a.button.button--primary.button--block(href="http://github.com/vivid-web/flexbox-grid-less", target="_blank").
                                                    Github
                        .col.col--md.col--sm-flex
                            .card.card--light
                                .card--light__header.card__header
                                    h3.card__title.card--light__title.
                                        Using Stylus
                                .card__body.card--light__body
                                    ul.card__list.card--light__list
                                        li.card__list-item.card--light__list-item
                                            h4.card__list-item-title.card--light__list-item-title.
                                                With Bower
                                            .card__list-item-content.card--light__list-item-content
                                                pre.code.code--light.
                                                    bower install flexbox-grid-stylus
                                        li.card__list-item.card--light__list-item
                                            h4.card__list-item-title.card--light__list-item-title.
                                                With NPM
                                            .card__list-item-content.card--light__list-item-content
                                                pre.code.code--light.
                                                    npm install flexbox-grid-stylus
                                        li.card__list-item.card--light__list-item
                                            .card__list-item-content.card--light__list-item-content
                                                a.button.button--primary.button--block(href="http://github.com/vivid-web/flexbox-grid-stylus", target="_blank").
                                                    Github