section.Section.Section--light
    .Grid.Grid--container
        .Row
            .Col.Col--md-12
                .Section__header.Section--light__header
                    h2.Section__title.Section--light__title.
                        Individual Alignment
                    span.Section__underline.Section--light__underline
                    small.Section__subtitle.Section--light__subtitle.
                        It is possible to align the columns individually
                .Section__body.Section--light__body
                    .Row
                        .Col.Col--sm-4.Col--sm-align-top
                            .Block.Block--light
                                .Block__content.Block--light__content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ea eligendi illo impedit placeat provident quod ut.
                                        Atque distinctio illo quisquam.
                                        Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                        quibusdam reiciendis veritatis.
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                        .Col.Col--sm-3.Col--sm-align-center
                            .Block.Block--light
                                .Block__content.Block--light__content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ea eligendi illo impedit placeat provident quod ut.
                                        Atque distinctio illo quisquam.
                                        Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                        quibusdam reiciendis veritatis.
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                        .Col.Col--sm-5.Col--sm-align-bottom
                            .Block.Block--light
                                .Block__content.Block--light__content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ea eligendi illo impedit placeat provident quod ut.
                                        Atque distinctio illo quisquam.
                                        Ab cupiditate distinctio, doloremque itaque laudantium maiores
                                        quibusdam reiciendis veritatis.
                                    p.
                                        A ad aliquid asperiores aut culpa dicta eaque expedita hic ipsa
                                        ipsam libero maiores minima nisi nobis perferendis quasi quis
                                        repudiandae, sint totam voluptatibus. Blanditiis iure natus perferendis
                                        voluptatem voluptatum?
                    .Row
                        .Col
                            pre.Code.Code--light.
                                &lt;div class=&quot;Grid Grid--container&quot;&gt;
                                    &lt;div class=&quot;Row&quot;&gt;
                                        &lt;div class=&quot;Col Col--sm Col--sm-align-top&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;Col Col--sm Col--sm-align-middle&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;Col Col--sm Col--sm-align-bottom&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;