section.section.section--light
    .grid.grid--container.grid--no-gutters
        .row.row--no-gutters
            .col.col-md-12.col--no-gutters
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        No gutters
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        The content can be displayed without the gutters
                .section__body.section--light__body
                    .row.row--no-gutters
                        .col.col--sm-5.col--no-gutters
                            .block.block--light
                                .block--light__content.block__content--center.
                                    5
                        .col.col--sm-4.col--no-gutters
                            .block.block--light
                                .block--light__content.block__content--center.
                                    4
                        .col.col--sm-3.col--no-gutters
                            .block.block--light
                                .block--light__content.block__content--center.
                                    3
                    .row.row--no-gutters
                        .col.col--no-gutters
                            pre.code.code--light.
                                &lt;div class=&quot;grid grid--container grid--no-gutters&quot;&gt;
                                    &lt;div class=&quot;row row--no-gutters&quot;&gt;
                                        &lt;div class=&quot;col col--sm col--sm-no-gutters&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--sm col--sm-no-gutters&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--sm col--sm-no-gutters&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;