section.section.section--dark
    .grid.grid--container.grid--no-gutters
        .grid__row.grid__row--no-gutters
            .grid__col.grid__col-md-12.grid__col--no-gutters
                .section__header.section--dark__header
                    h2.section__title.section--dark__title.
                        No gutters
                    span.section__underline.section--dark__underline
                    small.section__subtitle.section--dark__subtitle.
                        The content can be displayed without the gutters
                .section__body.section--dark__body
                    .grid__row.grid__row--no-gutters
                        .grid__col.grid__col--sm-5.grid__col--no-gutters
                            .block.block--dark
                                .block--dark__content.block__content--center.
                                    5
                        .grid__col.grid__col--sm-4.grid__col--no-gutters
                            .block.block--dark
                                .block--dark__content.block__content--center.
                                    4
                        .grid__col.grid__col--sm-3.grid__col--no-gutters
                            .block.block--dark
                                .block--dark__content.block__content--center.
                                    3
                    .grid__row.grid__row--no-gutters
                        .grid__col.grid__col--no-gutters
                            pre.code.code--dark.
                                &lt;div class=&quot;grid grid--container grid--no-gutters&quot;&gt;
                                    &lt;div class=&quot;grid__row grid__row--no-gutters&quot;&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm grid__col--sm-no-gutters&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm grid__col--sm-no-gutters&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm grid__col--sm-no-gutters&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;