section.section.section--dark
    .grid.grid--fixed
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--dark__header
                    h2.section__title.section--dark__title.
                        No gutters
                    span.section__underline.section--dark__underline
                    small.section__subtitle.section--dark__subtitle.
                        The content can be displayed without the gutters
                .section__body.section--dark__body
                    .grid.grid--fixed
                        .grid__row.grid__row--no-gutters
                            .grid__col.grid__col--sm-5.grid__col--no-gutters
                                .block.block--dark
                                    .block--dark__content.block__content--center.
                                        5
                            .grid__col.grid__col--sm-4.grid__col--no-gutters
                                .block.block--dark
                                    .block--dark__content.block__content--center.
                                        4
                            .grid__col.grid__col--sm-3.grid__col--no-gutters
                                .block.block--dark
                                    .block--dark__content.block__content--center.
                                        3