section.section.section--light
    .grid.grid--container
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        No gutters
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        The content can be displayed without the gutters
                .section__body.section--light__body
                    .grid__row.grid__row--no-gutters
                        .grid__col.grid__col--sm-5.grid__col--no-gutters
                            .block.block--light
                                .block--light__content.block__content--center.
                                    5
                        .grid__col.grid__col--sm-4.grid__col--no-gutters
                            .block.block--light
                                .block--light__content.block__content--center.
                                    4
                        .grid__col.grid__col--sm-3.grid__col--no-gutters
                            .block.block--light
                                .block--light__content.block__content--center.
                                    3
                    .grid__row
                    .grid__row
                        .grid__col
                            pre.code.code--light.
                                &lt;div class=&quot;grid grid--container&quot;&gt;
                                    &lt;div class=&quot;grid__row grid__row--no-gutters&quot;&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm grid__col--sm-no-gutters&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm grid__col--sm-no-gutters&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;grid__col grid__col--sm grid__col--sm-no-gutters&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;