section.Section.Section--dark
    .Grid.Grid--container
        .Row
            .Col.Col-md-12
                .Section__header.Section--dark__header
                    h2.Section__title.Section--dark__title.
                        Responsive
                    span.Section__underline.Section--dark__underline
                    small.Section__subtitle.Section--dark__subtitle.
                        The content can be displayed on multiple devices
                .Section__body.Section--dark__body
                    .Row
                        .Col.Col--xs-8
                            .Block.Block--dark
                                .Block__content
                        .Col.Col--xs-4
                            .Block.Block--dark
                                .Block__content
                    .Row
                        .Col.Col--xs-2.Col--md-4.Col--lg-9.Col--xl-10
                            .Block.Block--dark
                                .Block__content
                        .Col.Col--xs-10.Col--md-8.Col--lg-3.Col--xl-2
                            .Block.Block--dark
                                .Block__content
                    .Row
                        .Col
                            pre.Code.Code--dark.
                                &lt;div class=&quot;Grid Grid--container&quot;&gt;
                                    &lt;div class=&quot;Row&quot;&gt;
                                        &lt;div class=&quot;Col Col--xs-2 Col--md-4 Col--lg-9 Col--xl-10&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;Col Col--xs-10 Col--md-8 Col--lg-3 Col--xl-2&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;