section.section.section--dark
    .grid.grid--container
        .row
            .col.col-md-12
                .section__header.section--dark__header
                    h2.section__title.section--dark__title.
                        Responsive
                    span.section__underline.section--dark__underline
                    small.section__subtitle.section--dark__subtitle.
                        The content can be displayed on multiple devices
                .section__body.section--dark__body
                    .row
                        .col.col--xs-8
                            .block.block--dark
                                .block__content
                        .col.col--xs-4
                            .block.block--dark
                                .block__content
                    .row
                        .col.col--xs-2.col--md-4.col--lg-9.col--xl-10
                            .block.block--dark
                                .block__content
                        .col.col--xs-10.col--md-8.col--lg-3.col--xl-2
                            .block.block--dark
                                .block__content
                    .row
                        .col
                            pre.code.code--dark.
                                &lt;div class=&quot;grid grid--container&quot;&gt;
                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col col--xs-2 col--md-4 col--lg-9 col--xl-10&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--xs-10 col--md-8 col--lg-3 col--xl-2&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;