section.Section.Section--light
    .Grid.Grid--container
        .Row
            .Col.Col-md-12
                .Section__header.Section--light__header
                    h2.Section__title.Section--light__title.
                        Send column to end
                    span.Section__underline.Section--light__underline
                    small.Section__subtitle.Section--light__subtitle.
                        It is possible to send a column to the end
                .Section__body.Section--light__body
                    .Row
                        .Col.Col--sm-2.Col--sm-last
                            .Block.Block--light-highlight
                                .Block__content.Block--light-highlight__content.Block__content--center.
                                    1
                        .Col.Col--sm-2
                            .Block.Block--light
                                .Block__content.Block--light__content.Block__content--center.
                                    2
                        .Col.Col--sm-2
                            .Block.Block--light
                                .Block__content.Block--light__content.Block__content--center.
                                    3
                        .Col.Col--sm-2
                            .Block.Block--light
                                .Block__content.Block--light__content.Block__content--center.
                                    4
                        .Col.Col--sm-2
                            .Block.Block--light
                                .Block__content.Block--light__content.Block__content--center.
                                    5
                        .Col.Col--sm-2
                            .Block.Block--light
                                .Block__content.Block--light__content.Block__content--center.
                                    6
                    .Row
                        .Col
                            pre.Code.Code--light.
                                &lt;div class=&quot;Grid Grid--container&quot;&gt;
                                    &lt;div class=&quot;Row&quot;&gt;
                                        &lt;div class=&quot;Col Col--sm Col--sm-last&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;Col Col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;Col Col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;