section.section.section--dark
    .grid.grid--container
        .row
            .col.col-md-12
                .section__header.section--dark__header
                    h2.section__title.section--dark__title.
                        Send column to start
                    span.section__underline.section--dark__underline
                    small.section__subtitle.section--dark__subtitle.
                        It is possible to send a column to the start
                .section__body.section--dark__body
                    .row
                        .col.col--sm-2
                            .block.block--dark
                                .block__content.block--dark__content.block__content--center.
                                    1
                        .col.col--sm-2
                            .block.block--dark
                                .block__content.block--dark__content.block__content--center.
                                    2
                        .col.col--sm-2
                            .block.block--dark
                                .block__content.block--dark__content.block__content--center.
                                    3
                        .col.col--sm-2
                            .block.block--dark
                                .block__content.block--dark__content.block__content--center.
                                    4
                        .col.col--sm-2
                            .block.block--dark
                                .block__content.block--dark__content.block__content--center.
                                    5
                        .col.col--sm-2.col--sm-first
                            .block.block--dark-highlight
                                .block__content.block--dark-highlight__content.block__content--center.
                                    6
                    .row
                        .col
                            pre.code.code--dark.
                                &lt;div class=&quot;grid grid--container&quot;&gt;
                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--sm col--sm-first&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;