section.section.section--dark
    .grid.grid--fixed
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--dark__header
                    h2.section__title.section--dark__title.
                        Send column to start
                    span.section__underline.section--dark__underline
                    small.section__subtitle.section--dark__subtitle.
                        It is possible to send a column to the start
                .section__body.section--dark__body
                    .grid.grid--fixed
                        .grid__row
                            .grid__col.grid__col--sm-2
                                .block.block--dark
                                    .block__content.block--dark__content.block__content--center.
                                        1
                            .grid__col.grid__col--sm-2
                                .block.block--dark
                                    .block__content.block--dark__content.block__content--center.
                                        2
                            .grid__col.grid__col--sm-2
                                .block.block--dark
                                    .block__content.block--dark__content.block__content--center.
                                        3
                            .grid__col.grid__col--sm-2
                                .block.block--dark
                                    .block__content.block--dark__content.block__content--center.
                                        4
                            .grid__col.grid__col--sm-2
                                .block.block--dark
                                    .block__content.block--dark__content.block__content--center.
                                        5
                            .grid__col.grid__col--sm-2.grid__col--sm-first
                                .block.block--dark-highlight
                                    .block__content.block--dark-highlight__content.block__content--center.
                                        6
