section.section.section--light
    .grid.grid--fixed
        .grid__row
            .grid__col.grid__col-md-12
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        Send column to end
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        It is possible to send a column to the end
                .section__body.section--light__body
                    .grid.grid--fixed
                        .grid__row
                            .grid__col.grid__col--sm-2.grid__col--sm-last
                                .block.block--light-highlight
                                    .block__content.block--light-highlight__content.block__content--center.
                                        1
                            .grid__col.grid__col--sm-2
                                .block.block--light
                                    .block__content.block--light__content.block__content--center.
                                        2
                            .grid__col.grid__col--sm-2
                                .block.block--light
                                    .block__content.block--light__content.block__content--center.
                                        3
                            .grid__col.grid__col--sm-2
                                .block.block--light
                                    .block__content.block--light__content.block__content--center.
                                        4
                            .grid__col.grid__col--sm-2
                                .block.block--light
                                    .block__content.block--light__content.block__content--center.
                                        5
                            .grid__col.grid__col--sm-2
                                .block.block--light
                                    .block__content.block--light__content.block__content--center.
                                        6