section.section.section--light
    .grid.grid--container
        .row
            .col.col-md-12
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        Send column to end
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        It is possible to send a column to the end
                .section__body.section--light__body
                    .row
                        .col.col--sm-2.col--sm-last
                            .block.block--light-highlight
                                .block__content.block--light-highlight__content.block__content--center.
                                    1
                        .col.col--sm-2
                            .block.block--light
                                .block__content.block--light__content.block__content--center.
                                    2
                        .col.col--sm-2
                            .block.block--light
                                .block__content.block--light__content.block__content--center.
                                    3
                        .col.col--sm-2
                            .block.block--light
                                .block__content.block--light__content.block__content--center.
                                    4
                        .col.col--sm-2
                            .block.block--light
                                .block__content.block--light__content.block__content--center.
                                    5
                        .col.col--sm-2
                            .block.block--light
                                .block__content.block--light__content.block__content--center.
                                    6
                    .row
                        .col
                            pre.code.code--light.
                                &lt;div class=&quot;grid grid--container&quot;&gt;
                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col col--sm col--sm-last&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;