section.section.section--light
    .grid.grid--container
        .row
            .col.col-md-12
                .section__header.section--light__header
                    h2.section__title.section--light__title.
                        Combining
                    span.section__underline.section--light__underline
                    small.section__subtitle.section--light__subtitle.
                        It is possible to combine. Flexbox will automatically fill up the space
                .section__body
                    .row
                        .col.col--sm-2.col--sm-flex
                            .block.block--light
                                .block--light__content
                                    pre
                                        |col--sm-2
                        .col.col--sm.col--sm-flex
                            .block.block--light
                                .block--light__content
                                    pre
                                        |col--sm
                        .col.col--sm-3.col--sm-offset-1.col--sm-flex
                            .block.block--light
                                .block--light__content
                                    pre
                                        |col--sm-3
                                        br
                                        |col--sm-offset-1
                        .col.col--sm.col--sm-offset-1.col--sm-flex
                            .block.block--light
                                .block--light__content
                                    pre
                                        |col--sm
                                        br
                                        |col--sm-offset-1
                    .row
                        .col
                            pre.code.code--light.
                                &lt;div class=&quot;grid grid--container&quot;&gt;
                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col col--sm-2&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--sm&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--sm-3 col--sm-offset-1&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col col--sm col--sm-offset-1&quot;&gt;
                                            ...
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;