section.section.section--dark
    .grid.grid--container
        .row
            .col.col-md-12
                .section__header.section--dark__header
                    h2.section__title.section--dark__title.
                        grid in a grid
                    span.section__underline.section--dark__underline
                    small.section__subtitle.section--dark__subtitle.
                        grid components are infinitely nestable inside of other grid components
                .section__body
                    .row
                        .col.col--sm-2
                            .block.block--dark
                                .block__content.block--dark__content
                        .col.col--sm-10
                            .block.block--dark
                                .block__content.block--dark__content
                                    .row
                                        .col.col--sm-2
                                            .block.block--dark
                                                .block__content.block--dark__content.
                                        .col.col--sm-10
                                            .block.block--dark
                                                .block__content.block--dark__content
                                                    .row
                                                        .col.col--sm-2
                                                            .block.block--dark
                                                                .block__content.block--dark__content
                                                        .col.col--sm-10
                                                            .block.block--dark
                                                                .block__content.block--dark__content
                                                                    .row
                                                                        .col.col--sm-2
                                                                            .block.block--dark
                                                                                .block__content.block--dark__content
                                                                        .col.col--sm-10
                                                                            .block.block--dark
                                                                                .block__content.block--dark__content
                    .row
                        .col
                            pre.code.code--dark.
                                &lt;div class=&quot;grid grid--container&quot;&gt;
                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col col--sm&quot;&gt;
                                            &lt;div class=&quot;col col--sm&quot;&gt;
                                                &lt;div class=&quot;col col--sm&quot;&gt;
                                                    ...
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        ...
                                    &lt;/div&gt;
                                &lt;/div&gt;
