@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/light/fira-code-light.eot');
  src: url('../fonts/fira-code/light/fira-code-light.eot') format('embedded-opentype'),
  url('../fonts/fira-code/light/fira-code-light.woff2') format('woff2'),
  url('../fonts/fira-code/light/fira-code-light.woff') format('woff'),
  url('../fonts/fira-code/light/fira-code-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/regular/fira-code-regular.eot');
  src: url('../fonts/fira-code/regular/fira-code-regular.eot') format('embedded-opentype'),
  url('../fonts/fira-code/regular/fira-code-regular.woff2') format('woff2'),
  url('../fonts/fira-code/regular/fira-code-regular.woff') format('woff'),
  url('../fonts/fira-code/regular/fira-code-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/medium/fira-code-medium.eot');
  src: url('../fonts/fira-code/medium/fira-code-medium.eot') format('embedded-opentype'),
  url('../fonts/fira-code/medium/fira-code-medium.woff2') format('woff2'),
  url('../fonts/fira-code/medium/fira-code-medium.woff') format('woff'),
  url('../fonts/fira-code/medium/fira-code-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/bold/fira-code-bold.eot');
  src: url('../fonts/fira-code/bold/fira-code-bold.eot') format('embedded-opentype'),
  url('../fonts/fira-code/bold/fira-code-bold.woff2') format('woff2'),
  url('../fonts/fira-code/bold/fira-code-bold.woff') format('woff'),
  url('../fonts/fira-code/bold/fira-code-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}