.block {
  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem;
  width: 100%;

  @include has(content) {
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.5rem;
    font-weight: 300;

    @include variant(center) {
      text-align: center;
    }
  }

  &:after {
    display: block;
    content: "";
    height: 0;
    visibility: hidden;
  }

  @include variant(dark) {
    background-color: $opacity_white_20;

    @include has(content) {
      color: $primary_white;
    }
  }

  @include variant(dark-highlight) {
    background-color: $primary_dark;
    @include has(content) {
      color: $primary_white;
    }
  }

  @include variant(light) {
    background-color: $opacity_black_20;

    @include has(content) {
      color: $primary_black;
    }
  }

  @include variant(light-highlight) {
    background-color: $primary_light;
    @include has(content) {
      color: $primary_black;
    }
  }
}
