.Card {
  overflow: hidden;
  padding: 1rem;
  width: 100%;

  @include has(header) {
    padding: 1rem;
  }

  @include has(title) {
    font-weight: 600;
    font-size: 2rem;
  }

  @include has(body) {
    padding: 1rem 0;
  }

  @include has(list) {
    list-style: none;
  }

  @include has(list-item) {
    list-style: none;
    padding: 1rem;
  }

  @include has(list-item-title) {
    font-size: 1.5rem;
  }

  @include has(list-item-content) {
    margin-top: 0.5rem;
  }

  @include variant(light) {
    background-color: $opacity_white_20;
    border: 1px solid $opacity_black_20;

    @include has(header) {
      border-bottom: 1px solid $primary_light;
    }

    @include has(title) {
      color: $primary_black;
    }

    @include has(list-item-title) {
      color: $primary_black;
    }
  }

  @include variant(dark) {
    background-color: $opacity_black_20;
    border: 1px solid $opacity_white_20;

    @include has(header) {
      border-bottom: 1px solid $primary_dark;
    }

    @include has(title) {
      color: $primary_white;
    }

    @include has(list-item-title) {
      color: $primary_white;
    }
  }
}