.Link {
  @include transition(100ms);
  text-decoration: none;
  &:hover {
    @include transition(100ms);
  }

  @include variant(light) {
    color: $primary_light;
    &:hover {
      color: $primary_black;
    }
  }

  @include variant(dark) {
    color: $primary_dark;
    &:hover {
      color: $primary_white
    }
  }
}