.grid {
  box-sizing: border-box;
  padding: 0 .5rem;

  @include variant(container) {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }

  @include variant(no-gutters) {
    padding: 0;
  }
}