// The Grid
.grid {
  box-sizing: border-box;
  padding: 0 .5rem;

  @include variant(container) {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }

  @include has(row) {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: -1rem -.5rem 1rem -.5rem;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }

    @include variant(no-gutters) {
      margin: 0;
    }
  }

  @include has(col) {
    box-sizing: border-box;
    flex: 0 0 100%;
    padding: 1rem .5rem 0 .5rem;

    @include variant(no-gutters) {
      padding: 0;
    }
  }
}

@include make-grid($breakpoints, $columns);